In [2]:
import pandas as pd

#path="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"
path="E:\desktop\Credicxo\musk_csv.csv"
df=pd.read_csv(path,header=None)

C:\Users\MY\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
# show the first 5 rows using dataframe.head() method
print("The first 5 rows of the dataframe") 
df.head(5)

The first 5 rows of the dataframe

,0,1,2,3,4,5,6,7,8,9,...,160,161,162,163,164,165,166,167,168,169
0,ID,molecule_name,conformation_name,f1,f2,f3,f4,f5,f6,f7,...,f158,f159,f160,f161,f162,f163,f164,f165,f166,class
1,1,MUSK-211,211_1+1,46,-108,-60,-69,-117,49,38,...,-308,52,-7,39,126,156,-50,-112,96,1
2,2,MUSK-211,211_1+10,41,-188,-145,22,-117,-6,57,...,-59,-2,52,103,136,169,-61,-136,79,1
3,3,MUSK-211,211_1+11,46,-194,-145,28,-117,73,57,...,-134,-154,57,143,142,165,-67,-145,39,1
4,4,MUSK-211,211_1+12,41,-188,-145,22,-117,-7,57,...,-60,-4,52,104,136,168,-60,-135,80,1

In [3]:
#check the bottom 10 rows of data frame "df"
print("The bottom 10 row of the dataframe")
df.tail(10)

The bottom 10 row of the dataframe

,0,1,2,3,4,5,6,7,8,9,...,160,161,162,163,164,165,166,167,168,169
6589,6589,NON-MUSK-jp13,jp13_2+29,37,-134,-28,33,-117,-97,208,...,-242,-205,-10,22,111,195,-55,-150,113,0
6590,6590,NON-MUSK-jp13,jp13_2+3,37,-63,-101,34,-117,-99,214,...,-235,-204,-8,23,111,195,-55,-150,113,0
6591,6591,NON-MUSK-jp13,jp13_2+30,48,-189,-37,28,-117,-85,209,...,-257,-210,14,155,131,187,-72,-173,13,0
6592,6592,NON-MUSK-jp13,jp13_2+31,37,-25,-103,34,-117,-100,220,...,-245,-202,-4,27,112,195,-55,-150,112,0
6593,6593,NON-MUSK-jp13,jp13_2+4,48,-162,-101,29,-117,-86,215,...,-250,-208,14,155,131,188,-72,-173,13,0
6594,6594,NON-MUSK-jp13,jp13_2+5,51,-123,-23,-108,-117,134,-160,...,-66,164,-14,-29,107,171,-44,-115,118,0
6595,6595,NON-MUSK-jp13,jp13_2+6,44,-104,-19,-105,-117,142,-165,...,-51,166,-9,150,129,158,-66,-144,-5,0
6596,6596,NON-MUSK-jp13,jp13_2+7,44,-102,-19,-104,-117,72,-165,...,90,117,-8,150,130,159,-66,-144,-6,0
6597,6597,NON-MUSK-jp13,jp13_2+8,51,-121,-23,-106,-117,63,-161,...,86,99,-14,-31,106,171,-44,-116,117,0
6598,6598,NON-MUSK-jp13,jp13_2+9,51,-122,-23,-106,-117,190,-161,...,40,124,-14,-30,107,171,-44,-115,118,0

Add Headers
Take a look at our dataset; pandas automatically set the header by an integer from 0.

To better describe our data we can introduce a header, this information is available at: https://archive.ics.uci.edu/ml/datasets/Automobile

Thus, we have to add headers manually.

Firstly, we create a list "headers" that include all column names in order. Then, we use dataframe.columns = headers to replace the headers by the list we created.

In [4]:
# create headers list
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
print("headers\n", headers)

headers
 ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

We replace headers and recheck our data frame

In [5]:
df.columns = headers
df.head(10)

ValueError: Length mismatch: Expected axis has 170 elements, new values have 26 elements

we can drop missing values along the column "price" as follows

In [6]:
df.dropna(subset=["price"], axis=0)

KeyError: ['price']

In [5]:
df.dtype() #check the data type of the dataframe

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [7]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,160,161,162,163,164,165,166,167,168,169
count,6599,6599,6599,6599,6599,6599,6599,6599,6599,6599,...,6599,6599,6599,6599,6599,6599,6599,6599,6599,6599
unique,6599,103,6599,298,456,375,456,175,624,457,...,734,678,453,559,432,451,232,517,531,4
top,722,NON-MUSK-j146,326_1+13,44,-198,-145,28,-117,86,57,...,-300,-206,-14,150,129,159,-66,-116,-6,0
freq,1,1044,1,422,492,203,181,3090,118,244,...,94,211,188,161,167,158,471,279,112,3078

In [8]:
df.info() #function shows 30 top and 30 bottom rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6599 entries, 0 to 6598
Columns: 170 entries, 0 to 169
dtypes: object(170)
memory usage: 8.6+ MB

In [9]:
df.describe(include='all')#provide full summary

,0,1,2,3,4,5,6,7,8,9,...,160,161,162,163,164,165,166,167,168,169
count,6599,6599,6599,6599,6599,6599,6599,6599,6599,6599,...,6599,6599,6599,6599,6599,6599,6599,6599,6599,6599
unique,6599,103,6599,298,456,375,456,175,624,457,...,734,678,453,559,432,451,232,517,531,4
top,722,NON-MUSK-j146,326_1+13,44,-198,-145,28,-117,86,57,...,-300,-206,-14,150,129,159,-66,-116,-6,0
freq,1,1044,1,422,492,203,181,3090,118,244,...,94,211,188,161,167,158,471,279,112,3078

# for db connection ref: python diary